<%= if @current_user do %>
  <nav>
    <%# @current_user.email %>
    <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
    <%= link "Logout", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "ml-2 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
  </nav>
<% else %>
  <%= link "Login", to: Routes.user_session_path(@conn, :new), class: "text-white hover:text-blue-400" %>
<% end %>
