<%= f = form_for @changeset, "#", phx_submit: "editor-submit" %>

  <header class="bg-white shadow">
    <div class="flex max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <div class="flex-1">
        <%= text_input f, :name,
                            placeholder: "Name",
                            autocomplete: "off",
                            phx_debounce: "2000",
                            class: "form-input w-full text-md font-semibold" %>
        <%= error_tag f, :name %>
      </div>
      <div class="flex-1 items-end">
        <div class="flex flex-row justify-end items-center mb-2">
          <div class="mr-4 hover:text-blue-800"><%= live_redirect "Back", to: Routes.cloze_test_index_path(@socket, :index) %></div>
          <%= submit "Save", phx_disable_with: "Saving...", class: "block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded" %>
        </div>
      </div>
    </div>
  </header>

  <div class="max-w-7xl mx-auto pt-2 px-4 sm:px-6 lg:px-8">
    <div>

      <div class="md:flex w-full mt-4">

        <div class="cloze-editor w-full md:w-1/2 md:pl-0 pt-0">

            <p class="font-light text-gray-500 mb-4 text-sm">Select a word and click on <strong>insert blank</strong> to turn it into a blank.</p>

            <div class="field" phx-update="ignore">
              <%= textarea f, :content,
                              rows: 12,
                              placeholder: "Content",
                              autocomplete: "off",
                              phx_debounce: "500",
                              id: "markdown-editor",
                              phx_hook: "MarkdownEditor" %>
            </div>
            <%= error_tag f, :content %>

            <%= if @cloze_test_id != :new do %>
              <div class="w-full bg-green-100 rounded mt-4 p-4 text-gray-800">
                <span class="font-semibold">Give participants the following URL:</span><br />
                <a class="font-thin font-xs" href="<%= Routes.cloze_test_participant_url(@socket, :edit, @cloze_test_id) %>" target="_blank">
                  <%= Routes.cloze_test_participant_url(@socket, :edit, @cloze_test_id) %>
                </a>
              </div>
            <% end %>
        </div>

        <div class="cloze-preview w-full md:w-1/2 p-2 md:p-4 pt-1 md:pl-12">
          <article class="w-full prose">
            <%= raw(@preview_html) %>
          </article>
        </div>
      </div>

    </div>
  </div>

</form>
