<%= f = form_for @changeset, "#",
                  phx_submit: "editor-submit",
                  phx_change: "editor-change" %>

  <header class="bg-white shadow">
    <div class="flex justify-between items-center max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class=" block text-3xl font-bold leading-tight text-gray-900"><%= @page_title %></h1>
      <div class="flex items-center mb-2">
        <div class="mr-4 hover:text-blue-800"><%= live_redirect "Back", to: Routes.cloze_test_index_path(@socket, :index) %></div>
        <%= submit "Save", phx_disable_with: "Saving...", class: "block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </div>
  </header>

  <div class="max-w-7xl mx-auto pt-4 sm:px-6 lg:px-8">
    <div class="pt-2">

      <p class="text-gray-600">Write your text usign Markdown syntax.<br />Surround words with <span class="p-1 font-mono">[word](aUniqueNumber)</span> to turn them into blanks.</p>

      <div class="md:flex w-full mt-4">
        <div class="cloze-editor w-full md:w-1/2 p-2 md:p-4 md:pl-0 pt-0">
            <div class="field">
              <%= text_input f, :name,
                              placeholder: "Name",
                              autocomplete: "off",
                              phx_debounce: "2000",
                              class: "form-input" %>
              <%= error_tag f, :name %>
            </div>
            <div class="field">
              <%= textarea f, :content,
                              rows: 12,
                              placeholder: "Content",
                              autocomplete: "off",
                              phx_debounce: "500",
                              class: "w-full resize-y border rounded focus:outline-none focus:shadow-outline px-2 py-1" %>
              <%= error_tag f, :content %>
            </div>
        </div>

        <div class="cloze-preview w-full md:w-1/2 p-2 md:p-4 pt-1">
          <article class="w-full prose">
            <%= raw(@preview_html) %>
          </article>
        </div>
      </div>

    </div>
  </div>

</form>
