<h1>Listing Cloze tests</h1>

<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, BlanksWeb.ClozeTestLive.FormComponent,
    id: @cloze_test.id || :new,
    title: @page_title,
    action: @live_action,
    cloze_test: @cloze_test,
    return_to: Routes.cloze_test_index_path(@socket, :index) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="cloze_tests">
    <%= for cloze_test <- @cloze_tests do %>
      <tr id="cloze_test-<%= cloze_test.id %>">
        <td><%= cloze_test.name %></td>
        <td><%= cloze_test.content %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.cloze_test_show_path(@socket, :show, cloze_test) %></span>
          <span><%= live_patch "Edit", to: Routes.cloze_test_index_path(@socket, :edit, cloze_test) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: cloze_test.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Cloze test", to: Routes.cloze_test_index_path(@socket, :new) %></span>
