<h1>Show Cloze test</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, BlanksWeb.ClozeTestLive.FormComponent,
    id: @cloze_test.id,
    title: @page_title,
    action: @live_action,
    cloze_test: @cloze_test,
    return_to: Routes.cloze_test_show_path(@socket, :show, @cloze_test) %>
<% end %>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @cloze_test.name %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @cloze_test.content %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.cloze_test_show_path(@socket, :edit, @cloze_test), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.cloze_test_index_path(@socket, :index) %></span>
